# python

### python basics
* python version 3.7
- function programming
-object oriented programming
-scripting programming

In [6]:
print("hello gitam")

hello gitam

In [12]:
print("hello,Gitam", end=" ")
print( "HYD", end=" ")
print("python programming")

hello,Gitam HYD python programming

# assignment

In [13]:
n1= 100 # single variable assignment
a=b=c=40 # multi variable assignment with single value
a1,b1,c1=13,10,12 # multi variable assignment with different values
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
40 40 40
13 10 12

In [14]:
a=1000;
print(a)
print(type(a))

1000
<class 'int'>

In [25]:
a=30.2;
b='n'
c="nandhini"
print(a,b,c)
print(type(a),type(b),type(c))

30.2 n nandhini
<class 'float'> <class 'str'> <class 'str'>

In [4]:
def add(a,b):

    return(a+b)

add(2,3)

5

In [6]:
i=100
print(type(i))
a1=str(i) 
print(type(a1))
b1=float(i)
print(type(b1))

<class 'int'>
<class 'str'>
<class 'float'>

In [7]:
a1='10'
print(type(a1))
a=int(a1)
print(type(a))
f=1.7
b=int(f)
print(type(b))
print(b)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [9]:
a=12345
print(len(str(a)))

5

In [12]:
a=input("ENTER YOUR NAME")
print(a)
print(type(a))

ENTER YOUR NAMENANDHINI REDDY
NANDHINI REDDY
<class 'str'>

In [13]:
n=int(input("enter a number"))
print(n,type(n))

enter a number100
100 <class 'int'>

### Arithematic Operators

In [20]:
n1=int(input("enter a number"))
print(n1+10)
print(n1-10)
print(n1%10)
print(n1*10)
print(n1/10)
print(n1//10)
print(n1**10)

enter a number200
210
190
0
2000
20.0
20
102400000000000000000000

In [31]:
a=1+2**3/4+5
print(a)

8.0

## Relational operators

### >=
### <=
### >
### <
### ==
### !

In [46]:
n=100
print(n<10)
print(n>10)
print(n>=10)
print(n==10)
print(n<=10)
print(n==10)

False
True
True
False
False
False

In [51]:
n=int(input("enter a number"))
if n%2 == 0:
    print("even")
else:
    print("odd")

enter a number100
even

In [56]:
n=int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
    print("yes")
else:
    print("no")

enter a number150
yes